.event {

  .container {
    max-width: 95%;
  }

  &__date {
    background-color: #00A0B2;
  }

  &__date--date {
    font-size: 4rem;
    color: #fff !important;
  }

  &__date--day {
    font-size: 1.8rem;
  }

  &__date--month {
    font-size: 1.5rem;
  }

  &__location {
    font-size: 1.2rem;
    color: #fff;
  }

  &__info {
    min-height: 70vh;
    background-color: #fff;
  }

  &__modal-body > div {
    margin: 0 auto;
    width: 80% !important;
    border: 1px solid #e9ecef !important;
  }

  &__preview-img {
    display: inline;
    width: 100px;
    height: 100px;
  }

  &__comment-box {
    background-color: #fff;
  }

  &__comment {
    background-color: rgba(0,78,232,0.05);
  }
}

// media quieries for responsiveness
@media screen and (max-width: 576px) {

  .event{

    &__edit-img-container {
      float: none !important;
      text-align: center;
    }
  }
}
