.event {

  .container {
    max-width: 95%;
  }

  &__info {
    min-height: 70vh;
    background-color: #fff;
  }

  &__edit-btn {
    cursor: pointer;
  }

  &__modal-body > div {
    margin: 0 auto;
    width: 80% !important;
    border: 1px solid #e9ecef !important;
  }

  &__comment-box {
    background-color: #fff;
  }

  &__comment {
    background-color: rgba(0,78,232,0.05);
  }
}
