@import '../../assets/scss/variables';

.event {

  .container {
    max-width: 95%;
  }

  &__main-content {
    max-height: 60vh;
  }

  &__info {
    min-height: 70vh;
    background-color: #fff;
  }

  &__comment-box {
    background-color: #fff;
  }
}
