$header-bg-color: #dc772c;
$main-bg-color: rgba(0,78,232,0.12);
$btn-bg-color: #00a0b2;
$article-hover-color: #d0d1d2;
$link-hover-color: #fff;
$anchor-color: #000;
$text-color: #000;
$date-box-color: #00a0b2;
