// vendor
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

//fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:400,700');

.title, h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

.text, p, label, a {
  font-family: 'Roboto Slab', serif;
  color: #000 !important;
}

a:hover {
  color: #fff;
}

body {
  background-color: rgba(0,78,232,0.05);
}

main {
  min-height: 85vh;
}


button {
  background-color: #00A0B2;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
}
