@import '../../assets/scss/variables';

.log-item:hover {
  background-color: #d0d1d2;
}

.log-item {

  background-color: #fff;

  a {
    text-decoration: none;
  }

  &__text {
    font-size: 0.75rem;
    color: #757575 !important;
  }
}