@import '../../assets/scss/variables';

.forgot-password {

  min-height: 100vh;

  &__aside {
    background: url(../../assets/img/social.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  &__ver {
    font-size: 1.5rem;
    border: 2px solid $btn-bg-color;
  }
}

// media quieries for responsiveness

@media screen and (max-width: 578px) {
  .forgot-password {

    &__aside-col {
      display: none;
    }
  }
}