@import '../../assets/scss/variables';

.event-item {

  &__card:hover {
    background-color: $article-hover-color;
  }

  &__icon-non-solid {
    color: $main-bg-color;
  }

  &__stars {
    float: right;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  &__title {
    font-size: 1.4rem;
  }
}

// media queries for responsiveness

@media screen and (max-width: 992px) {

  .event-item {

    &__stars {
      margin-top: 5px;
      float: none;
    }
  }
}

@media screen and (max-width: 768px) {

  .event-item {

    &__stars {
      float: right;
    }
  }
}

@media screen and (max-width: 578px) {

  .event-item {

    &__stars {
      margin-top: 5px;
      float: none;
    }
  }
}