@import '../../assets/scss/variables';

.login {

  min-height: 100vh;

  &__aside {
    background: url(../../assets/img/social.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  a {
    color: #00728F !important;
  }
}

// media quieries for responsiveness

@media screen and (max-width: 578px) {
  .login {

    &__aside-col {
      display: none;
    }
  }
}