@import '../../assets/scss/variables';

.header {

  background-color: $header-bg-color;

  &__brand {
    width: 15%;
  }

  &__item {
    padding: 0.5rem;
  }

  .nav-item:hover,
  .nav-link:hover {
    color: $link-hover-color !important;
    text-decoration: underline;
  }

  .dropdown-toggle {
    color: $anchor-color !important;
  }

  &__user-dropdown-item {
    display: none;
  }
}

// media queries for responsiveness

@media screen and (max-width: 768px) {

  .header {

    &__brand {
      width: 105px;
    }

    &__user-dropdown {
      display: none;
    }

    &__user-dropdown-item {
      display: block;
    }
  }

  .nav-item, .dropdown-toggle {
    float: right;
  }
}