.form {

  &__field {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  &__field--error {
    border: 1px solid #f00;
  }

  &__warning {
    color: #f00 !important;
  }
}
